{% load static %}

<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="{% static '/MMSApp/css/signup&login.css' %}">

</head>

<body >

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <nav>
    <div class="nav-wrapper" style="background-color:#003d72">
      <a href="/home" class="brand-logo center">AUMMS</a>
      <div class="row">
        <div class="col s1 offset-s1">
          <ul>
            <li>
              <i class="material-icons left" id="back_id" style="cursor:pointer">arrow_back</i>
            </li>
          </ul>
        </div>
        <div class="col s2">
          <ul>
            <li>
              <a href="/schedule" style="font-size:1.1em">My Schedule </a>
            </li>
          </ul>
        </div>
      <div class="col s3 offset-s4">
        <ul>
          <li>
            <a href="#!" id="notification_id" class="valign-wrapper">
              <i class="material-icons right">notifications</i>
              <span class="new badge" >4</span>
            </a>
          </li>
          <li>
            <a href="/profile/{{user.username}}">
              <i class="material-icons right">account_box
              </i>
            </a>
          </li>
          <li>
            <a href="/logout">
              <i class="material-icons right">exit_to_app
              </i>Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

  <div id="notification-popup" class="fancyScroll" state="off" >
    <div class="notification-element">
      <span>Attending Meeting <a href="Path">XYZ</a></span>
      <button class="waves-effect waves-light btn small-notification-button" ><span>Yes</span></button>
      <button class="waves-effect waves-light btn grey small-notification-button">No</button>
    </div>
    <hr style="margin:0px">
    <div class="valign-wrapper notification-element">
      <span><a href="/PATH">XYZ</a> added you in a <a href="/PATH">group</a></span>
    </div>
    <!-- <hr style="margin:0px"> -->
  </div>

  <script type="text/javascript">
    $("#notification_id").click(function (){
      if($('#notification-popup').attr('state')=='off'){
        $('#notification-popup').show();
        $('#notification-popup').attr('state','on');
      }
      else{
        $('#notification-popup').hide();
        $('#notification-popup').attr('state','off');
      }
    });

    $("#back_id").click(function (){
        window.history.back();
    });
  </script>

    {% block content %}
    {% endblock %}

    <script src="{% static '/MMSApp/js/init.js' %}"></script>
</body>
</html>
