{% extends 'MMSApp/base.html' %}
{% block content %}
{% load static %}

  <br><br>
  <div class="container center" style="width:60%;background-color:#003d72;color:white">
    <br>
    <h4 Class="heading" style="text-decoration:underline" id="group_heading_id">Create New Group</h4>
    <br>
    <div class="row">
      <div class="input-field col s6 offset-s3">
        <i class="material-icons prefix">web_asset</i>
        <input type="text" id="group_name_id" class="white-text">
        <label for="group_name_id"> Group Name </label>
      </div>
    </div>
    <div class="row">
       <div class="input-field col s6 offset-s3" >
             <i class="material-icons prefix ">search</i>
             <input type="text" id="search_user_for_group" class="autocomplete white-text">
             <label for="search_user_for_group"> Add people </label>
       </div>
       <div class="col s1" style="padding-top:1.3em;">
         <button class="transparent-button" id="add_user_btn_for_group">Add</button>
      </div>
    </div>
  <br>
  <div class="row" id="all_users_for_group">
  </div>
  <br>

  <br><br>
  </div>

<script type="text/javascript">

  $(document).ready(function(){

    var typed_users = {};
    var typed_users_uuid = {};
    var user_dict = {};


    $.ajax({
         url: "/Get_All_Users/",
         type: "POST",
         async: false,
         data: {
         },
         success: function(response) {
           if(response['status']==200){
             user_dict = response['users'];
           }
         },
       });

      var instance = M.Autocomplete.getInstance($("#search_user_for_group"));
      instance.updateData(user_dict);

        function add_user(user_input,notify=true){

           user_input = user_input.toLowerCase();

          if(user_input.length == 0)
            return;

          if(user_input in user_dict){
              if(user_input in typed_users){
                 if(notify)
                    M.toast({html:"User already added"});
                 return;
              }
              typed_users[user_input] = 1;
              if(notify)
                  M.toast({html:"User successfully added"});

              $("#search_user_for_group").val("");

              var temp_html = '\  <div class="chip">\
                  <img src="/static/MMSApp/images/yuna.jpg" alt="Contact Person">\
                  '+user_input+'\
                  <i class="close material-icons remove_user">close</i>\
                  </div>';
              $("#all_users_for_group").append(temp_html);
              instance.close();
          }
          else{
            if(notify)
              M.toast({html:"User doesn't exist"});
          }
        }

        $("#add_user_btn_for_group").click(function(){
          var user_input = $("#search_user_for_group").val();
          add_user(user_input);
        });

        $('#search_user_for_group').on('keypress',function(e) {
          if(e.which == 13) {
            var user_input = $("#search_user_for_group").val();
            add_user(user_input);
          }
        });

      $(document).on("click", ".remove_user", function(){
        var username = $(this).parent().text().replace("close","").trim();
        delete typed_users[username];
      })


    function isEdit(){

      var temp = window.location.pathname;
      temp = temp.split("/")[1];
      if(temp=='edit')
       return true
    }


  $("#submit_group_id").click(function(){

    users_list = JSON.stringify(typed_users);

    if($('#group_name_id').val() == "" || users_list == ""){
      M.toast({html: 'All inputs are compulsory'});
      return ;
    }
    if(isEdit){
      $.ajax({
           url: "/Edit_Group_Submit/",
           type: "POST",
           data: {
             'name' : $('#group_name_id').val()  ,
             'uuid' : get_uuid(),
             'members' : users_list,
           },
           success: function(response) {
             if(response['status']==200){
               M.toast({html: 'Group Edited successfully'});
               location.reload(true);
             }
             else if(response['status']==409){
               M.toast({html: 'Name Already taken'});
             }
           },
         });
    }
    else{
    $.ajax({
         url: "/Create_Group_Submit/",
         type: "POST",
         data: {
           'name' : $('#group_name_id').val()  ,
           'members' : users_list,
         },
         success: function(response) {
           if(response['status']==200){
             M.toast({html: 'Group Created successfully'});
             location.reload(true);
           }
           else if(response['status']==409){
             M.toast({html: 'Name Already taken'});
           }
         },
       });
     }
     });

     function get_uuid(){
       uuid = window.location.pathname;
       uuid = uuid.split("/")[3];
       return uuid;
     }

     if(isEdit){
       $('#group_heading_id').text("Edit Group");
       $('#submit_group_id').text("Update");

       $.ajax({
            url: "/Edit_Group_Details/",
            type: "POST",
            data: {
              'uuid' : get_uuid()
            },
            success: function(response) {
              if(response['status']==200){
                for(var i=0;i<response['admins'].length;i++){
                      add_user(response['admins'][i]['username'],false)
                }
                for(var i=0;i<response['members'].length;i++){
                      add_user(response['members'][i]['username'],false)
                }
              }
            },
          });
     }

    });


</script>

{% endblock %}
