{% extends 'MMSApp/base.html' %}
{% block content %}
{% load static %}

<br><br><br>

<div class="row">

  <div class="col s3 offset-s1">

    <div class="row">
      <div class="col s5">
          <a href="#!" id="leave_group_button_id" class="waves-effect waves-light btn"><i class="material-icons left">exit_to_app</i>Leave</a>
      </div>
      <div class="col s4">
          <a href="#!" id="edit_group_button_id" class="waves-effect waves-light btn" style="display:none" ><i class="material-icons left">create</i>Edit</a>
      </div>
    </div>


    <div class="row" style="padding-right:0px;margin-right:0px">
      <div class="col s12">
        <ul class="tabs" style="background-color:#003d72;">
          <li class="tab col s12"><a class="active" >Members</a></li>
        </ul>
      </div>
    </div>

    <div class="fancyScroll" id="member_list_id" style="height:500px;overflow-y:auto;overflow-x:hidden;width:95%">
    </div>

  </div>

  <div class="col s6 offset-s1">

    <div class="row">
      <div class="col s2">
          <a href="#!" id="new_meeting_button_id" class="waves-effect waves-light btn" ><i class="material-icons left">add</i>New</a>
      </div>
    </div>

    <div class="row" style="padding-right:0px;margin-right:0px">
      <div class="col s12">
        <ul class="tabs" style="background-color:#003d72;">
          <li class="tab col s4"><a href="#ongoing_tab_id" >Onging Meetings</a></li>
          <li class="tab col s4"><a class="active" href="#upcoming_tab_id">Upcoming Meetings</a></li>
          <li class="tab col s4"><a href="#past_tab_id" >Past Meetings</a></li>
        </ul>
      </div>
    </div>

    <div id="ongoing_tab_id" class="fancyScroll" style="max-height:500px;overflow-y:auto;">
      <div class="container" style="width:92%;">
      </div>
    </div>
    <div id="upcoming_tab_id" class="fancyScroll" style="max-height:500px;overflow-y:auto;">
      <div class="container" style="width:92%;">
      </div>
    </div>
    <div id="past_tab_id" class="fancyScroll" style="max-height:500px;overflow-y:auto;">
      <div class="container" style="width:92%;">
      </div>
    </div>

  </div>

</div>

<script type="text/javascript">

  $(document).ready(function(){

    uuid = window.location.pathname;
    uuid = uuid.split("/")[2];

    $('#new_meeting_button_id').attr("href","/create/meeting/"+uuid);

    $('#edit_group_button_id').attr("href","/edit/group/"+uuid);
    // $('#leave_group_button_id').attr("href","/edit/group/"+uuid); // API LEFT-------------------------------


    $.ajax({
        url: "/Get_Group_Details/",
        type: "POST",
        data: {
          'uuid' : uuid,
        },
        success: function(response) {
          console.log(response);
          if(response['status']==200){
            var temp = "";
            for(var i=0;i<response['admins'].length;i++){
              temp += '<div class="row valign-wrapper zero-margin">\
                <div class="col s2">\
                  <img src='+response['admins'][i]['dp']+' alt="Avatar" style="width:3em;height:3em;">\
                </div>\
                <div class="col s7" style="overflow-x:auto">\
                  <a href="/profile/'+response['admins'][i]['username']+'">'+response['admins'][i]['username']+'</a>\
                </div>\
                <div class="col s3">\
                  <span class="right isadmin-class">Admin<span></div>\
                </div>\
              </div><hr>';
            }
            for(var i=0;i<response['members'].length;i++){
              temp += '<div class="row valign-wrapper zero-margin">\
                <div class="col s2">\
                  <img src='+response['members'][i]['dp']+' alt="Avatar" style="width:3em;height:3em;">\
                </div>\
                <div class="col s10">\
                  <a href="/profile/'+response['members'][i]['username']+'">'+response['members'][i]['username']+'</a>\
                </div>\
              </div><hr>';
            }

            $("#member_list_id").append(temp);
            if(response['isAdmin']=="1")
              jQuery('#edit_group_button_id').show()

              temp = "";
              var no_meetings = '<p class="grey-text"> No Meetings to Show </p>';

              for (var i=0;i<response['past_meets'].length;i++){
              temp  += '<div class="card horizontal">\
                  <div class="card-stacked meeting-box">\
                    <div class="row zero-margin">\
                    <h5 style="padding-left:1em;text-decoration:underline;">'+response['past_meets'][i]["name"]+'</h5>\
                   </div>\
                    <div class="card-content " style="padding-left:2em;padding-bottom:0px;">\
                      <div class="row"><div class="col s4 valign-wrapper"><i class="material-icons ">access_time</i><span style="padding-left:1em;">'+response['past_meets'][i]["start_time"]+' </span> - <span>'+response['past_meets'][i]["end_time"]+'</span></div>\
                      <div class="col s4 valign-wrapper"><i class="material-icons">place</i> <span style="padding-left:1em;">'+response['past_meets'][i]["venue"]+'</span></div>\
                      <div class="col s4 valign-wrapper"><i class="material-icons">date_range</i> <span style="padding-left:1em;">'+response['past_meets'][i]["meeting_date"]+'</span></div>\
                    </div>\
                    <div class="row">\
                      <div class="col s12 valign-wrapper"><i class="material-icons">event_note</i> <span style="padding-left:1em;">'+response['past_meets'][i]["agenda"]+'</span></div>\
                    </div>\
                    </div>\
                    <div class="card-action">\
                      <a href="/meetings/'+response['past_meets'][i]["uuid"]+'" class="waves-effect waves-light btn"><i class="material-icons left">search</i>View</a>\
                    </div>\
                  </div>\
                </div>';
              }

              $("#past_tab_id").children().append(temp);
              if(temp==""){
                $("#past_tab_id").children().append(no_meetings);
              }
              temp = "";
              for (var i=0;i<response['ongoing_meets'].length;i++){
              temp  += '<div class="card horizontal">\
                  <div class="card-stacked meeting-box">\
                    <div class="row zero-margin">\
                    <h5 style="padding-left:1em;text-decoration:underline;">'+response['ongoing_meets'][i]["name"]+'</h5>\
                   </div>\
                    <div class="card-content " style="padding-left:2em;padding-bottom:0px;">\
                      <div class="row"><div class="col s4 valign-wrapper"><i class="material-icons ">access_time</i><span style="padding-left:1em;">'+response['ongoing_meets'][i]["start_time"]+' </span> - <span>'+response['ongoing_meets'][i]["end_time"]+'</span></div>\
                      <div class="col s4 valign-wrapper"><i class="material-icons">place</i> <span style="padding-left:1em;">'+response['ongoing_meets'][i]["venue"]+'</span></div>\
                      <div class="col s4 valign-wrapper"><i class="material-icons">date_range</i> <span style="padding-left:1em;">'+response['ongoing_meets'][i]["meeting_date"]+'</span></div>\
                    </div>\
                    <div class="row">\
                      <div class="col s12 valign-wrapper"><i class="material-icons">event_note</i> <span style="padding-left:1em;">'+response['ongoing_meets'][i]["agenda"]+'</span></div>\
                    </div>\
                    </div>\
                    <div class="card-action">\
                      <a href="/meetings/'+response['ongoing_meets'][i]["uuid"]+'" class="waves-effect waves-light btn"><i class="material-icons left">search</i>View</a>\
                    </div>\
                  </div>\
                </div>';
              }

              $("#ongoing_tab_id").children().append(temp);
              if(temp==""){
                $("#ongoing_tab_id").children().append(no_meetings);
              }
              temp ="";
              for (var i=0;i<response['upcoming_meets'].length;i++){
              temp  += '<div class="card horizontal">\
                  <div class="card-stacked meeting-box">\
                    <div class="row zero-margin">\
                    <h5 style="padding-left:1em;text-decoration:underline;">'+response['upcoming_meets'][i]["name"]+'</h5>\
                   </div>\
                    <div class="card-content " style="padding-left:2em;padding-bottom:0px;">\
                      <div class="row"><div class="col s4 valign-wrapper"><i class="material-icons ">access_time</i><span style="padding-left:1em;">'+response['upcoming_meets'][i]["start_time"]+' </span> - <span>'+response['upcoming_meets'][i]["end_time"]+'</span></div>\
                      <div class="col s4 valign-wrapper"><i class="material-icons">place</i> <span style="padding-left:1em;">'+response['upcoming_meets'][i]["venue"]+'</span></div>\
                      <div class="col s4 valign-wrapper"><i class="material-icons">date_range</i> <span style="padding-left:1em;">'+response['upcoming_meets'][i]["meeting_date"]+'</span></div>\
                    </div>\
                    <div class="row">\
                      <div class="col s12 valign-wrapper"><i class="material-icons">event_note</i> <span style="padding-left:1em;">'+response['upcoming_meets'][i]["agenda"]+'</span></div>\
                    </div>\
                    </div>\
                    <div class="card-action">\
                      <a href="/meetings/'+response['upcoming_meets'][i]["uuid"]+'" class="waves-effect waves-light btn"><i class="material-icons left">search</i>View</a>\
                    </div>\
                  </div>\
                </div>';
              }
              if(temp==""){
                $("#upcoming_tab_id").children().append(no_meetings);
              }

              $("#upcoming_tab_id").children().append(temp);
          }
        },
      });

      $("#leave_group_button_id").click(function(){
        if(confirm("Do you really want to leave the group?")){
          $.ajax({
          url: "/Leave_Group/",
          type: "POST",
          data: {
            'group_uuid':uuid,
          },
          success: function(response) {
            console.log(response);
            if(response['status']==200){
              M.toast({html: 'Left Group Successfully!'});
              window.location.pathname = "/home/";
            }  
            else
              M.toast({html: 'Some error occurred'});
          },
        });
        }
      }); 

  });

</script>

{% endblock %}
