{% extends 'MMSApp/base.html' %}
{% block content %}
{% load static %}

  <br><br>

<div class="row center">

  <div class="col s3 offset-s1">

    <div class="row">
      <div class="col s5">
          <a href="/create/group" id="create_group_button_id" class="waves-effect waves-light btn" ><i class="material-icons left">group_add</i>Create</a>
      </div>
    </div>

    <div class="row" style="padding-right:0px;margin-right:0px">
      <div class="col s12">
        <ul class="tabs" style="background-color:#003d72;">
          <li class="tab col s12"><a class="active" >My groups</a></li>
        </ul>
      </div>
    </div>

    <div class="container fancyScroll" id="group_list_id" style="height:500px;overflow-y:auto;">
    </div>

  </div>

  <div class="col s6 offset-s1">

    <div class="row">
      <div class="col s12">
          <span class="left grey-text">Meetings can be created from respective groups*</span>
      </div>
    </div>

    <div class="row" style="padding-right:0px;margin-right:0px;padding-top:0.7em;">
      <div class="col s12">
        <ul class="tabs" style="background-color:#003d72;">
          <li class="tab col s4"><a href="#ongoing_tab_id" >Onging Meetings</a></li>
          <li class="tab col s4"><a class="active" href="#upcoming_tab_id">Upcoming Meetings</a></li>
          <li class="tab col s4"><a href="#past_tab_id" >Past Meetings</a></li>
        </ul>
      </div>
    </div>

    <div class="fancyScroll" style="height:500px;overflow-y:auto;">

      </div>
    </div>

</div>

<script type="text/javascript">

  $(document).ready(function(){

    $.ajax({
        url: "/Get_User_Groups/",
        type: "POST",
        data: {
        },
        success: function(response) {
          console.log(response);
          if(response['status']==200){
            var temp = "";
            for(var i=0;i<response['groups'].length;i++){
              temp += '<a href="/groups/'+response['groups'][i]['uuid']+'" style="color:#003d72">'+response['groups'][i]['group_name']+'</a><hr>';
            }
            $("#group_list_id").append(temp);
          }
        },
      });

  });

</script>

{% endblock %}
