{% extends 'MMSApp/base.html' %}
{% block content %}
{% load static %}

<div class="row center">

  <div class="col s4">

    <br>

    <a class="btn-floating btn-large waves-effect waves-light modal-trigger" style="background-color:#003d72" href="#group_modal" ><i class="material-icons">add</i></a>
    <h4> Groups </h4>

    <div class="container fancyScroll" id="group_list_id" style="height:500px;overflow-y:auto;box-shadow: inset 0px 0px 5px 1px #003d72;width:80%">
    </div>

    <div id="group_modal" class="modal" >
      <div class="modal-content" style="background-color:#003d72;color:white">
        <h4>Create New Group</h4>
        <br>
        <div class="row">
          <div class="input-field col s6 offset-s3">
            <i class="material-icons prefix">name</i>
            <input type="text" id="group_name_id" class="white-text">
            <label for="group_name_id"> Group Name </label>
          </div>
        </div>
        <div class="row">
           <div class="input-field col s6 offset-s3">
                 <i class="material-icons prefix">search</i>
                 <input type="text" id="search_user_for_group" class="autocomplete white-text">
                 <label for="search_user_for_group"> Add people </label>
           </div>
           <div class="col s1" style="padding-top:1.3em;">
             <button class="transparent-button" id="add_user_btn_for_group">Add</button>
          </div>
        </div>
      <br>
      <div class="row" id="all_users_for_group">
      </div>
      </div>
      <div class="modal-footer">
        <a href="#!" id = "submit_group_id" class="waves-effect waves-green btn-flat">Create</a>
        <a href="#!" class="left modal-close waves-effect waves-blue btn-flat">Back</a>
      </div>
    </div>
  </div>

  <div class="col s7">

    <br>

    <a class="btn-floating btn-large waves-effect waves-light modal-trigger" style="background-color:#003d72" href="#meeting_modal" ><i class="material-icons">add</i></a>
    <h4> Meetings </h4>

    <div class="row" style="padding-right:0px;margin-right:0px">
      <div class="col s12">
        <ul class="tabs" style="background-color:#003d72;">
          <li class="tab col s4"><a href="#test1" >Onging Meetings</a></li>
          <li class="tab col s4"><a class="active" href="#test2">Upcoming Meetings</a></li>
          <li class="tab col s4"><a href="#test4" >Past Meetings</a></li>
        </ul>
      </div>
    </div>

    <div class="fancyScroll" style="height:500px;overflow-y:auto;">


    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    <p> a </p>
    </div>

    <div id="meeting_modal" class="modal fancyScrollreverse" >
      <div class="modal-content" style="background-color:#003d72;color:white;overflow-y:auto">
        <h4>Call a Meet</h4>
        <br>
        <p> Select a group </p>
        <br>

        <div class="row">
          <div class="input-field col s4 offset-s1">
            <input  id="meeting_name" type="text" style="color:white">
            <label for="meeting_name">Name</label>
          </div>
          <div class="input-field col s4 offset-s2">
            <input  id="meeting_agenda" type="text" style="color:white">
            <label for="meeting_agenda">Agenda</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4 offset-s1">
            <input  id="meeting_venue" type="text" style="color:white">
            <label for="meeting_venue">Venue</label>
          </div>
          <div class="input-field col s4 offset-s2">
            <input class="datepicker" id="meeting_date" type="text" style="color:white">
            <label for="meeting_date">Date</label>
          </div>
        </div>
      <br>

      <div class="row">
        <div class="col s2 offset-s3">
            <input placeholder="From" type="text" class="timepicker" id="meeting_from_time">
        </div>
        <div class="col s2 offset-s2">
            <input placeholder="To" type="text" class="timepicker" id="meeting_to_time">
        </div>
      </div>

      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Call</a>
      </div>
    </div>

  </div>

</div>

<script type="text/javascript">

  $(document).ready(function(){

    var typed_users = {};
    var user_dict = {};

    $.ajax({
         url: "/Get_All_Users/",
         type: "POST",
         async: false,
         data: {
         },
         success: function(response) {
           if(response['status']==200){
             user_dict = response['users'];
           }
         },
       });

      console.log($("#search_user_for_group").length);
      var instance = M.Autocomplete.getInstance($("#search_user_for_group"));
      instance.updateData(user_dict);

        function add_user(){

           var user_input = $("#search_user_for_group").val();
           user_input = user_input.toLowerCase();
          console.log(user_input);

          if(user_input.length == 0)
            return;

            if(user_input in user_dict){
                if(user_input in typed_users){
                   M.toast({html:"User already added"});
                   return;
                }
                typed_users[user_input] = 1;
                M.toast({html:"User successfully added"});
                $("#search_user_for_group").val("");

                var temp_html = '\  <div class="chip">\
                    <img src="/static/MMSApp/images/yuna.jpg" alt="Contact Person">\
                    '+user_input+'\
                    <i class="close material-icons remove_user">close</i>\
                    </div>';
                $("#all_users_for_group").append(temp_html);
                instance.close();

            }
            else{
               M.toast({html:"User doesn't exist"});
            }
        }

        $("#add_user_btn_for_group").click(function(){
          add_user();
        })
        $(document).on('keypress',function(e) {
          if(e.which == 13) {
              add_user();
          }

        $(".remove_user").click(function(){

            var username = $(this).parent().text().replace("close","").trim();
            delete typed_users[username];
        })
    });


  $("#submit_group_id").click(function(){

    users_list = JSON.stringify(typed_users);

    if($('#group_name_id').val() == "" || users_list == ""){
      M.toast({html: 'All inputs are compulsory'});
      return ;
    }

    $.ajax({
         url: "/Create_Group_Submit/",
         type: "POST",
         data: {
           'name' : $('#group_name_id').val()  ,
           'members' : users_list,
         },
         success: function(response) {
           if(response['status']==200){
             M.toast({html: 'Group Created successfully'});
             location.reload(true);
           }
           else if(response['status']==409){
             M.toast({html: 'Name Already taken'});
           }
         },
       });
     });
    $.ajax({
        url: "/Get_User_Groups/",
        type: "POST",
        data: {
        },
        success: function(response) {
          console.log(response);
          if(response['status']==200){
            var temp = "";
            for(var i=0;i<response['groups'].length;i++){
              temp += '<a href="/groups/'+response['groups'][i]['uuid']+'" style="color:#003d72">'+response['groups'][i]['group_name']+'</a><hr>';
            }
            $("#group_list_id").append(temp);
          }
        },
      });

  });
  
</script>

{% endblock %}
