{% extends 'MMSApp/base.html' %}
{% block content %}
{% load static %}

<br><br><br>

<div class="container" >
  <div class="row">
    <div class="col s2">
        <a href="#!" id="delete_meeting_button_id" class="waves-effect waves-light btn delete-button"><i class="material-icons left">delete</i>Delete</a>
    </div>
    <div class="col s2">
        <a href="#!" id="edit_meeting_button_id" class="waves-effect waves-light btn" ><i class="material-icons left">create</i>Edit</a>
    </div>
  </div>
<div class="row" style="padding-right:0px;margin-right:0px">
  <div class="col s12" style="padding-left:0px;padding-right:0px">
    <ul class="tabs" style="background-color:#003d72;" >
      <li class="tab col s4 active"><a href="#info_tab_id" >INFO</a></li>
      <li class="tab col s4"><a href="#attendees_tab_id">ATTENDEES</a></li>
      <li class="tab col s4"><a href="#resources_tab_id" >RESOURCES</a></li>
    </ul>
  </div>
</div>

<div id="info_tab_id">
  <div class="fancyScroll" style="max-height:500px;overflow-y:auto">
  </div>
</div>

<div id="attendees_tab_id">
  <div class="fancyScroll container" style="max-height:500px;overflow-y:auto">
  </div>
</div>

<div id="resources_tab_id">
    <div class = "row">
       <div class = "file-field input-field col s4">
          <div class = "btn">
             <span>Browse</span>
             <input id="add_file_button_id" type = "file"/>
          </div>
          <div class = "file-path-wrapper">
             <input class = "file-path validate" id="file_name_id" type = "text"
                placeholder = "Upload files" />
          </div>
       </div>
       <div class="col s2 offset-s1" style="padding-top:1em;">
         <button class="waves-effect waves-light btn" id="add_resource_id"><i class="material-icons left">add</i>Add</button>
       </div>
    </div>
  <div class="fancyScroll" id="append_resources_here_id" style="max-height:400px;overflow-y:auto">

  </div>
</div>

</div>


<script type="text/javascript">


$(document).ready(function(){


function get_uuid(){
  uuid = window.location.pathname;
  uuid = uuid.split("/")[2];
  return uuid;
}
  $("#edit_meeting_button_id").attr("href","/edit/meeting/"+get_uuid());

  $.ajax({
      url: "/Get_Meeting_Details/",
      type: "POST",
      data: {
        'meeting_uuid' : get_uuid(),
      },
      success: function(response) {
        console.log(response);
        if(response['status']==200){
        var temp  = '<div class="card horizontal">\
            <div class="card-stacked meeting-box">\
              <div class="row zero-margin">\
              <h5 style="padding-left:1em;text-decoration:underline;">'+response["name"]+'</h5>\
             </div>\
              <div class="card-content " style="padding-left:2em;padding-bottom:0px;">\
                <div class="row">\
                <div class="col s4 valign-wrapper"><i class="material-icons ">access_time</i><span style="padding-left:1em;">'+response["start_time_str"]+' </span> - <span>'+response["end_time_str"]+'</span></div>\
                <div class="col s4 valign-wrapper"><i class="material-icons">place</i> <span style="padding-left:1em;">'+response["venue"]+'</span></div>\
                <div class="col s4 valign-wrapper"><i class="material-icons">date_range</i> <span style="padding-left:1em;">'+response["meeting_date_str"]+'</span></div>\
              </div>\
                <div class="row">\
                <div class="col s4 valign-wrapper"><i class="material-icons">timelapse</i><span style="padding-left:1em;">'+response["duration"]+' Minutes</span></div>\
                </div>\
                <div class="row">\
                <div class="col s12 valign-wrapper"><i class="material-icons">event_note</i><span style="padding-left:1em;">'+response["agenda"]+'</span></div>\
                </div>\
              </div>\
            </div>\
          </div>';
          $("#info_tab_id").children().append(temp);
        }
      },
    });

    $("#add_resource_id").click(function(){
      Save_Meeting_Resource();
    });

    function Save_Meeting_Resource() {
      if($("#file_name_id").val()==""){
        M.toast({html:"Please select a file first!"});
        return ;
      }

      var input1 = document.getElementById("add_file_button_id");

      var fd = new FormData();

      fd.append('resource', input1.files[0]);
      fd.append('name', $('#file_name_id').val());
      fd.append('meeting_uuid', get_uuid() );

      $.ajax({
          url: '/Resource_Submit/',
          data: fd,
          processData: false,
          contentType: false,
          type: 'POST',
          success: function(response){
            console.log(response);
            if(response['status']==200){
                Get_Meeting_Resources();
            }
            else if(response['status']==400){
              M.toast({html:"You are not authorised!"});
            }
            else{
              M.toast({html:"Some error occurred!"});
            }
          },
          error: function(xhr, a, b){
            console.log("Some error!");
          }
        });
    }

    function Get_Meeting_Resources(){
      console.log("came");
      $.ajax({
          url: "/Get_Meeting_Resources/",
          type: "POST",
          data: {
            'meeting_uuid' : get_uuid(),
          },
          success: function(response) {
            console.log(response);
            if(response['status']==200){
              $("#append_resources_here_id").empty();

              for(let i=0;i<response['resources'].length;i++){
                var r_uuid = response['resources'][i]['file_uuid'];
                temp = '<div class="row meeting-box" style="width:98%;"><div class="col s4">\
                        <span>'+response['resources'][i]['file_name']+'</span>\
                      </div>\
                      <div class="col s4">\
                        <a href="/profile/'+response['resources'][i]['owner']+'">\
                        <i class="material-icons left white-text">add</i>'+response['resources'][i]['owner']+'</a>\
                      </div>\
                      <div class="col s3">\
                      <a href="'+response['resources'][i]['file_path']+'" target="_blank">\
                        <i class="material-icons left white-text">file_download</i>View/Download</a>\
                      </div>\
                      <div class="col s1">\
                      <button class="waves-effect waves-light btn delete-button delete-class" r_uuid = "'+r_uuid+'">\
                        <i class="material-icons left white-text ">delete</i></button>\
                      </div></div>';
                $('#append_resources_here_id').append(temp);
              }
            }
          },
        });
    }
    Get_Meeting_Resources();
    $.ajax({
        url: '/Get_Attendees/',
        data: {
          'meeting_uuid':get_uuid(),
        },
        type: 'POST',
        success: function(response){
          console.log(response);

          for(var i=0;i<response['attendees'].length;i++){
            var temp = '<div class="row"><span><a href="/profile/'+response['attendees'][i]['user_uuid']+'">\
            '+response['attendees'][i]['user_name']+'</a></span>';
            if(response['attendees'][i]['is_admin']==true){
              temp+='<span class="right isadmin-class">Admin<span></div>';
            }

            $("#attendees_tab_id").children().append(temp);

          }
        },
        error: function(xhr, a, b){
          console.log("Some error!");
        }
    });

    $(document).on("click", ".delete-class", function(){
        delete_resource($(this).attr("r_uuid"));
      });

    function delete_resource(resource_id){
      console.log(resource_id);
      $.ajax({
            url: "/Resource_Delete/",
            type: "POST",
            data: {
              'meeting_uuid' : get_uuid(),
              'r_uuid':resource_id,
            },
            success: function(response) {
              if(response['status']==200){
                M.toast({html:"File Deleted!"});
                Get_Meeting_Resources();
              }
              else if(response['status']==400){
                M.toast({html:"You cannot delete!"});
              }
              else{
                M.toast({html:"Some Error occurred!"});
              }
            },
          });
    }
  $("#delete_meeting_button_id").click(function(){
        if(confirm("Do you really want to delete the meeting?")){
          $.ajax({
          url: "/Delete_Meeting/",
          type: "POST",
          data: {
            'meeting_uuid':get_uuid(),
          },
          success: function(response) {
            console.log(response);
            if(response['status']==200){
              M.toast({html: 'Meeting Deleted Successfully!'});
              window.location.pathname = "/groups/"+response['group_uuid'];
            }
            else
              M.toast({html: 'Some error occurred'});
          },
        });
        }
      });
  });


</script>

{% endblock %}
