{% extends 'MMSApp/base.html' %}
{% block content %}
{% load static %}

<br><br><br>

<div class="container" >
  <div class="row">
    <div class="col s2">
        <a href="#!" id="leave_group_button_id" class="waves-effect waves-light btn" style="background-color: 	#990000"><i class="material-icons left">delete</i>Delete</a>
    </div>
    <div class="col s2">
        <a href="#!" id="edit_meeting_button_id" class="waves-effect waves-light btn" ><i class="material-icons left">create</i>Edit</a>
    </div>
  </div>
<div class="row" style="padding-right:0px;margin-right:0px">
  <div class="col s12" style="padding-left:0px;padding-right:0px">
    <ul class="tabs" style="background-color:#003d72;" >
      <li class="tab col s3"><a href="#info_tab_id" >INFO</a></li>
      <li class="tab col s3"><a class="active" href="#attendees_tab_id">ATTENDEES</a></li>
      <li class="tab col s3"><a href="#chat_tab_id" >CHAT</a></li>
      <li class="tab col s3"><a href="#resources_tab_id" >RESOURCES</a></li>
    </ul>
  </div>
</div>

<div id="info_tab_id">
<div class="row">
  HEY
</div>
</div>
<div id="attendees_tab_id">
HEY2
</div>
<div id="chat_tab_id">
HEY3
</div>
<div id="resources_tab_id">
HEY4
</div>

</div>

{% endblock %}
