{% extends 'MMSApp/base.html' %}
{% block content %}
{% load static %}

<br><br>

<div class="container center" style="background-color:#003d72;color:white;overflow-y:auto">

      <h4 style="text-decoration:underline" id="call_a_meet_id">Call a Meet</h4>
      <br>
      <div class="row">
        <div class="input-field col s4 offset-s1">
          <i class="material-icons prefix">group</i>
          <input  id="meeting_name_id" type="text" style="color:white">
          <label for="meeting_name_id">Name</label>
        </div>
        <div class="input-field col s4 offset-s2">
          <i class="material-icons prefix">create</i>
          <input  id="meeting_agenda_id" type="text" style="color:white">
          <label for="meeting_agenda_id">Agenda</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4 offset-s1">
          <i class="material-icons prefix">place</i>
          <input  id="meeting_venue_id" type="text" style="color:white">
          <label for="meeting_venue_id">Venue</label>
        </div>
        <div class="input-field col s4 offset-s2">
          <i class="material-icons prefix">date_range</i>
          <input class="datepicker" id="meeting_date_id" type="text" style="color:white">
          <label for="meeting_date_id">Date</label>
        </div>
      </div>
    <br>

    <div class="row">
      <div class="col s2 offset-s3">
          <input placeholder="From" type="text" class="timepicker" id="meeting_from_time_id" style="color:white">
      </div>
      <div class="col s2 offset-s2">
          <input placeholder="To" type="text" class="timepicker" id="meeting_to_time_id" style="color:white">
      </div>
    </div>

    <div class="row">
      <button class="transparent-button"  id = "submit_meeting_id">CALL</button>
    </div>

</div>

<script>

$(document).ready(function(){

  month_dict = {
    'Jan':1,
    'Feb':2,
    'Mar':3,
    'Apr':4,
    'May':5,
    'Jun':6,
    'Jul':7,
    'Aug':8,
    'Sep':9,
    'Oct':10,
    'Nov':11,
    'Dec':12,
  };

  rev_dict = {
    1:'Jan',
    2:'Feb',
    3:'Mar',
    4:'Apr',
    5:'May',
    6:'Jun',
    7:'Jul',
    8:'Aug',
    9:'Sep',
    10:'Oct',
    11:'Nov',
    12:'Dec',
  };

  function get_uuid(){
    uuid = window.location.pathname;
    uuid = uuid.split("/")[3];
    return uuid;
  }

  function isEdit(){

    var temp = window.location.pathname;
    temp = temp.split("/")[1];
    if(temp=='edit')
     return true;
    return false;
  }

  function to12hrString(x,y) {

    var am_pm = "AM";

    if(x>=12)
      am_pm = "PM";

    if(x==0)
      x+=12;
    else if(x>12)
        x-=12;

    if(x.toString().length == 1){
      x = "0" + x.toString();
    }
    if(y.toString().length == 1){
      y = "0" + y.toString();
    }

    return x+":"+y+" "+am_pm;
  }

  function get_time_h(x) {
   var h = parseInt(parseInt(x[0])*10+ parseInt(x[1]));
     if(h==12){
       if(x[6]=="A")
          h-=parseInt(12);
     }
     else{
       if(x[6]=="P")
        h+=parseInt(12);
      }
    return h;
  }

  function get_time_m(x) {
   var  m = parseInt(x[3]*10+ parseInt(x[4]));
    return m;
  }

  function get_duration(x1,y1,x2,y2){
    return parseInt(x2*60+y2-(x1*60+y1));
  }

  function get_day(x){
    var d = parseInt(x[4]*10+parseInt(x[5]));
    return d;
  }

  function get_year(x){
    var d = parseInt(parseInt(x[8])*1000+parseInt(x[9])*100+parseInt(x[10])*10+parseInt(x[11]));
    return d;
  }

  function get_month(x){
    console.log(x);
    y = "";
    for (var i=0;i<x.length;i++){
      if(x[i] == " ")
        break;
      y += x[i];
    }
    console.log(y);
    return month_dict[y].toString();
  }


$( "#meeting_date_id" ).keydown(false);
$( "#meeting_to_time_id" ).keydown(false);
$( "#meeting_from_time_id" ).keydown(false);

  $("#submit_meeting_id").click(function (){

    if($("#meeting_name_id").val() == "" ||  $("#meeting_agenda_id").val() == "" || $("#meeting_date_id").val() == "" || $("#meeting_from_time_id").val() == "" || $("#meeting_to_time_id").val() == "" || $("#meeting_venue_id").val() == ""){
       M.toast({html: 'All inputs are compulsory!'});
       return;
     }

     s_hour = get_time_h($("#meeting_from_time_id").val());
     s_min = get_time_m($("#meeting_from_time_id").val());

     e_hour = get_time_h($("#meeting_to_time_id").val());
     e_min = get_time_m($("#meeting_to_time_id").val());

     duration = get_duration(s_hour,s_min,e_hour,e_min);

     if(duration <= 0){
       M.toast({html: 'Time duration must be positive!'});
       console.log(duration);
      return;
     }

     var instance = M.Datepicker.getInstance(meeting_date_id);
     var ins_string = instance.toString();

     if(ins_string == "")
        ins_string = $("#meeting_date_id").val()

     day = get_day(ins_string);
     month = get_month(ins_string);
     year = get_year(ins_string);

     console.log(day);
     console.log(month);
     console.log(year);

     console.log(s_hour);
     console.log(s_min);

     console.log(e_hour);
     console.log(e_min);



     if(isEdit()){
       $.ajax({
            url: "/Edit_Meeting_Submit/",
            type: "POST",
            data: {
             'name':$("#meeting_name_id").val(),
             'agenda':$("#meeting_agenda_id").val(),
             's_hour':s_hour,
             's_min':s_min,
             'e_hour':e_hour,
             'e_min':e_min,
             'meeting_uuid':get_uuid(),
             'duration':duration,
             'day':day,
             'month':month,
             'year':year,
             'venue':$("#meeting_venue_id").val(),
            },
            success: function(response) {
              if(response['status']==200){
                M.toast({html: 'Meeting Updated successfully'});
                window.location.pathname = "/meetings/"+response['meeting_uuid'];
              }
              else
                M.toast({html: 'Some error occurred'});
            },
          });
     }
     else{
        $.ajax({
             url: "/Create_Meeting_Submit/",
             type: "POST",
             data: {
              'name':$("#meeting_name_id").val(),
              'agenda':$("#meeting_agenda_id").val(),
              's_hour':s_hour,
              's_min':s_min,
              'e_hour':e_hour,
              'e_min':e_min,
              'group_uuid':get_uuid(),
              'duration':duration,
              'day':day,
              'month':month,
              'year':year,
              'venue':$("#meeting_venue_id").val(),
             },
             success: function(response) {
               if(response['status']==200){
                 M.toast({html: 'Meeting Created successfully'});
                 window.location.pathname = "/meetings/"+response['meeting_uuid'];
               }
               else
                 M.toast({html: 'Some error occurred'});
             },
           });
         }
  });

    if(isEdit()){

      $("#call_a_meet_id").text("Update a Meeting");
      $("#submit_meeting_id").text("UPDATE");

      $.ajax({
               url: "/Get_Meeting_Details/",
               type: "POST",
               data: {
                  'meeting_uuid' : get_uuid(),
               },
               success: function(response) {
                 if(response['status']==200){
                   $("#meeting_name_id").val(response['name']);
                   $("#meeting_agenda_id").val(response['agenda']);
                   $("#meeting_venue_id").val(response['venue']);

                   var to12hrStringval = to12hrString(response['start_time'][0],response['start_time'][1]);

                   $("#meeting_from_time_id").val(to12hrStringval);

                   to12hrStringval = to12hrString(response['end_time'][0],response['end_time'][1]);

                   $("#meeting_to_time_id").val(to12hrStringval);

                   var month = parseInt(response['meeting_date'][1]);
                   var day = (response['meeting_date'][0]).toString();
                   if(day.length==1)
                    day = "0"+day;
                   $("#meeting_date_id").val(rev_dict[month]+" "+day+", "+response['meeting_date'][2]);
                   M.updateTextFields();
                 }
               },
             });
    }

});

</script>
{% endblock %}
