{% extends 'MMSApp/base.html' %}
{% block content %}
{% load static %}

<br><br>

<div class="container center" style="background-color:#003d72;color:white;overflow-y:auto">

      <h4 style="text-decoration:underline">Call a Meet</h4>
      <div class="row">
        <div class="input-field col s4 offset-s1">
          <i class="material-icons prefix">group</i>
          <input  id="meeting_name" type="text" style="color:white">
          <label for="meeting_name">Name</label>
        </div>
        <div class="input-field col s4 offset-s2">
          <i class="material-icons prefix">create</i>
          <input  id="meeting_agenda" type="text" style="color:white">
          <label for="meeting_agenda">Agenda</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4 offset-s1">
          <i class="material-icons prefix">place</i>
          <input  id="meeting_venue" type="text" style="color:white">
          <label for="meeting_venue">Venue</label>
        </div>
        <div class="input-field col s4 offset-s2">
          <i class="material-icons prefix">date_range</i>
          <input class="datepicker" id="meeting_date" type="text" style="color:white">
          <label for="meeting_date">Date</label>
        </div>
      </div>
    <br>

    <div class="row">
      <div class="col s2 offset-s3">
          <input placeholder="From" type="text" class="timepicker" id="meeting_from_time" style="color:white">
      </div>
      <div class="col s2 offset-s2">
          <input placeholder="To" type="text" class="timepicker" id="meeting_to_time" style="color:white">
      </div>
    </div>

    <div class="row">
      <button class="transparent-button"  id = "submit_meeting_group_id">CALL</button>
    </div>

</div>

<script>

  function get_uuid(){
    uuid = window.location.pathname;
    uuid = uuid.split("/")[3];
    return uuid;
  }

$.ajax({
         url: "/Create_Meeting_Submit/",
         type: "POST",
         data: {
          'name':'ac',
          'agenda':'to tea,sdnmst',
          's_hour':15,
          's_min':4,
          'e_hour':17,
          'e_min':5,
          'group_uuid':get_uuid(),
          'duration':3,
          'day':11,
          'month':1,
          'year':2018,
          'venue':'clasasds 107',
         },
         success: function(response) {
           if(response['status']==200){
             M.toast({html: 'Meeting Created successfully'});
            //  window.location.pathname = "/home";
           }
           else
             M.toast({html: 'Some error occurred'});

         },
       });

</script>
{% endblock %}
