{% extends 'MMSApp/base.html' %}
{% block content %}
{% load static %}

<br><br>

<div class="container" style="width:75%;">
  <div class="row -wrapper">
    <div class="col" >
      <a class="btn-floating btn waves-effect waves-light " id="arrow_back_id"><i class="material-icons">arrow_back</i></a>
      <a class="btn-floating btn waves-effect waves-light " id="arrow_forward_id"><i class="material-icons">arrow_forward</i></a
      <br><br>
    </div>
    <div class="col s3">
      <h4 id="schedule_month" style="margin:0;display:inline-block">May,</h4>
      <h4 id="schedule_year" style="margin:0;display:inline-block">2020</h4>
    </div>
  </div>
  <div class="schedule-wrapper" id="schedule-wrapper-id">
  </div>


  <div id="edit_day_schedule" class="modal modal-fixed-footer" style="width:60%;background-color:#003d72;">
    <div class="modal-content center modal-fixed-footer fancyScrollreverse" id="edit_schedule_modal_content_id" style="y-overflow:auto;">
      <h4 id="modal_content_date_edit_id" style="color:white">Date</h4><br>
      <div class="container" style="width:90%">
        <ul class="collapsible" id="collapsible_id">
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  <br>
  </div>

</div>

<script type="text/javascript">

  inv_day_dict = {

    1 : "SUNDAY",
    2 : "MONDAY",
    3 : "TUESDAY",
    4 : "WEDNESDAY",
    5 : "THURSDAY",
    6 : "FRIDAY",
    7 : "SATURDAY",

  };

  month_dict = {
    1:'Jan',
    2:'Feb',
    3:'Mar',
    4:'Apr',
    5:'May',
    6:'Jun',
    7:'Jul',
    8:'Aug',
    9:'Sep',
    10:'Oct',
    11:'Nov',
    12:'Dec',
  };

  var d = new Date();
  var month = d.getMonth()+1;
  var year = d.getFullYear();

function append_day_names(){
  var i=1;
    for (var j=1;j<=7;j++){
      var temp =  '<div class="row'+i+' col'+j+' week-box ">'+inv_day_dict[j]+'</div>';
      $("#schedule-wrapper-id").append(temp);
    }
}

function clear_schedule(){
  $("#schedule-wrapper-id").empty();
  append_day_names();
}

var response_schedule = {};

function Get_Monthly_Schedule(){
    $.ajax({
             url: "/Get_Monthly_Schedule/",
             type: "POST",
             async: false,
             data: {
              'month':month,
              'year':year,
             },
             success: function(response) {
               console.log(response);
               if(response['status']==200){

                 var max_length = 3;
                 var r = 2;
                 var c = (response['first_day']+1)%7+1;
                 var days = 1;

                 while(days <= response['days']){
                   var temp = "";

                   temp +=  '<div class="row'+r+' col'+c+' day-box fancyScrollschedule">';

                     if(response['schedule'][days]!=""){
                         for(var i=0;i<Math.min(max_length,response['schedule'][days]['events'].length);i++){
                            temp += '<div class="event-component">'+response['schedule'][days]['events'][i]['name']+'</div>';
                         }
                         if(response['schedule'][days]['events'].length > max_length){
                           var dif = response['schedule'][days]['events'].length - max_length
                           temp += '<a href="#edit_day_schedule" class="modal-trigger  edit_day_schedule_class" day="'+days+'" ><div class="plus_extra">+'+dif+' More</div></a>';
                         }
                       }

                        temp += '<div class="day-box-date">'+days+'</div>\
                        <a href="#edit_day_schedule" day="'+days+'" class="modal-trigger edit_day_schedule_class">\
                          <i class=" material-icons edit-button" style="color:black">edit</i>\
                        </a>\
                    </div>';

                  days += 1;
                  c++;
                  if(c>7){
                    c = 1;
                    r++;
                  }
                      $("#schedule-wrapper-id").append(temp);
                 }
                 response_schedule = response;
               }
               else
                 M.toast({html: 'Some error occurred'});
             },
           });
        }

        function update_month_year(){
          $("#schedule_month").text(month_dict[month]+",");
          $("#schedule_year").text(year);
          clear_schedule();
          Get_Monthly_Schedule();
        }

        append_day_names();
        Get_Monthly_Schedule();

        $("#arrow_back_id").click(function(){
            month-=1;
            if(month<1){
              month = 12;
              year -= 1;
            }
            update_month_year();
        });

        $("#arrow_forward_id").click(function(){
            month+=1;
            if(month>12){
              month = 1;
              year += 1;
            }
            update_month_year();
        });

        var day;

        $(document).on("click", ".edit_day_schedule_class", function(){
          day = $(this).attr("day");
          var date = month_dict[month]+" "+day+", "+year.toString();
          $("#modal_content_date_edit_id").text(date);
          day = parseInt(day)

          $('#collapsible_id').empty();

          var total_events = 0;

          if(response_schedule['schedule'][day]!="")
            total_events += response_schedule['schedule'][day]['events'].length;

          for(var cnt=-1;cnt<total_events;cnt++){

            var temp_html = "";

            if(cnt==-1){
              temp_html = '<li><div class="collapsible-header">\
                <div class="row zero-margin-absolute" style="width:100%;">\
                  <div class="col s5 valign-wrapper zero-margin-absolute">\
                  <i class="material-icons">add</i>\
                  <span>Add New Event<span>\
                    </div>\
                  </div>\
                </div>';
            }
            else{
            temp_html = '<li><div class="collapsible-header" style="background-color: #e6e6e6;">\
              <div class="row zero-margin-absolute" style="width:100%;">\
              <div class="col s5 valign-wrapper zero-margin-absolute">\
                <i class="material-icons">access_time</i>\
                <span>'+response_schedule['schedule'][day]['events'][cnt]['start_time']+'</span>\
                  <span> - </span>\
                <span>'+response_schedule['schedule'][day]['events'][cnt]['end_time']+'</span>\
              </div>\
              <div class="col s4 valign-wrapper zero-margin-absolute">\
                <i class="material-icons">event</i>\
                  <span>'+response_schedule['schedule'][day]['events'][cnt]['name']+'<span>\
              </div>\
              <div class="col s3 valign-wrapper zero-margin-absolute">\
                <i class="material-icons">place</i>\
                  <span>'+response_schedule['schedule'][day]['events'][cnt]['venue']+'<span>\
              </div>\
            </div>\
            </div>';
          }

            temp_html += '<div class="collapsible-body">\
              <div class="row zero-margin">\
                <div class="input-field col s3">\
                  <i class="material-icons prefix white-small-icons">event</i>\
                  <input  id="event_name_id_'+cnt+'" type="text" class="validate white-text">\
                  <label for="event_name_id_'+cnt+'">Event Name</label>\
                </div>\
                <div class="input-field col s4 offset-s1">\
                  <i class="material-icons prefix white-small-icons">event_note</i>\
                  <input  id="event_desc_id_'+cnt+'" type="text" class="validate white-text">\
                  <label for="event_desc_id_'+cnt+'">Event Description</label>\
                </div>\
                <div class="input-field col s3 offset-s1">\
                  <i class="material-icons prefix white-small-icons">place</i>\
                  <input  id="event_venue_id_'+cnt+'" type="text" class="validate white-text" >\
                  <label for="event_venue_id_'+cnt+'">Venue</label>\
                </div>\
              </div>\
              <div class="row zero-margin">\
                <div class="input-field col s3">\
                  <i class="material-icons prefix white-small-icons">access_time</i>\
                  <input id="event_start_time_id_'+cnt+'" type="text" class="timepicker white-text" >\
                  <label for="event_start_time_id_'+cnt+'">From</label>\
                </div>\
                <div class="input-field col s3 offset-s1">\
                  <i class="material-icons prefix white-small-icons">access_time</i>\
                  <input id="event_end_time_id_'+cnt+'" type="text" class="timepicker white-text" >\
                  <label for="event_end_time_id_'+cnt+'">To</label>\
                </div>\
              </div>\
              <div class="row zero-margin">\
                <div class="col s5">\
                  <p><label>\
                      <input type="checkbox" class="event_repeat_class" id="event_repeat_id_'+cnt+'" class="filled-in" />\
                      <span>Keep Repeating after 7 days?</span>\
                    </label></p>\
                </div>\
                <div class="input-field  col s3 zero-margin" style="display:none">\
                  <i class="material-icons prefix white-small-icons">date_range</i>\
                  <input id="event_repeat_till_time_id_'+cnt+'" type="text" class="datepicker white-text">\
                  <label for="event_repeat_till_time_id_'+cnt+'">Till Date</label>\
                </div>\
              </div>\
              <div class="row zero-margin">';
            if(cnt==-1){
              temp_html += '<div class="col s3 offset-s9 zero-margin" >\
                <a class="waves-effect waves-light btn-small" id="event_add_id">ADD</a>';
            }
            else{
                  temp_html += '<div class="col s4 offset-s8 zero-margin" >\
                    <a class="waves-effect waves-light btn-small event_save_class" cnt="'+cnt+'" >SAVE</a>\
                  <a class="waves-effect waves-light btn-small delete-button event_delete_class"  cnt="'+cnt+'">DELETE<i class="material-icons right">delete</i></a>';
              }
            temp_html += '</div>\
              </div>\
              </div></li>';

            $('#collapsible_id').append(temp_html);
            $( ".timepicker" ).keydown(false);
            $( ".datepicker" ).keydown(false);

            if(cnt!=-1){
              update_text_data(cnt,day);
            }
          }

          $('.datepicker').datepicker();
          $('.timepicker').timepicker();
        });

    function update_text_data(cnt,query_day) {

      $('#event_name_id_'+cnt+'').val(response_schedule['schedule'][query_day]['events'][cnt]['name']);
      $('#event_venue_id_'+cnt+'').val(response_schedule['schedule'][query_day]['events'][cnt]['venue']);
      $('#event_desc_id_'+cnt+'').val(response_schedule['schedule'][query_day]['events'][cnt]['desc']);
      $('#event_start_time_id_'+cnt+'').val(response_schedule['schedule'][query_day]['events'][cnt]['start_time']);
      $('#event_end_time_id_'+cnt+'').val(response_schedule['schedule'][query_day]['events'][cnt]['end_time']);

      M.updateTextFields();

    }

    $(document).on("click", ".event_repeat_class", function(){
      if($(this).prop("checked"))
        $(this).parent().parent().parent().next().show();
      else
        $(this).parent().parent().parent().next().hide();
    });


    function get_time_h(x) {
     var h = parseInt(parseInt(x[0])*10+ parseInt(x[1]));
       if(h==12){
         if(x[6]=="A")
            h-=parseInt(12);
       }
       else{
         if(x[6]=="P")
          h+=parseInt(12);
        }
      return h.toString();
    }

    function get_time_m(x) {
     var  m = parseInt(x[3]*10+ parseInt(x[4]));
      return m.toString();
    }


    $(document).on("click", ".event_save_class", function(){
      var cnt = $(this).attr("cnt");
      var uuid = response_schedule['schedule'][day]['events'][cnt]['uuid'];
        temp_dict = {
          name:$('#event_name_id_'+cnt+'').val(),
          venue:$('#event_venue_id_'+cnt+'').val(),
          s_hour:get_time_h($("#event_start_time_id_"+cnt).val()),
          s_min:get_time_m($("#event_start_time_id_"+cnt).val()),
          e_hour:get_time_h($("#event_end_time_id_"+cnt).val()),
          e_min:get_time_m($("#event_end_time_id_"+cnt).val()),
          description:$('#event_desc_id_'+cnt+'').val(),
          uuid:uuid,
          is_deleted:false,
          is_edited:true,
        }
        var ds_uuid =  response_schedule['schedule'][day]['date_uuid'];
        $.ajax({
           url: "/Edit_Schedule_Submit/",
           type: "POST",
           data: {
            'ds_uuid':ds_uuid,
            'ds_year':year.toString(),
            'ds_month':month.toString(),
            'ds_day':day.toString(),
            'event':JSON.stringify(temp_dict),
            'change_all':false,
           },
           success: function(response) {
             console.log(response);

             if(response['status']==200){
                M.toast({html: 'Saved successfully'});
             }
             else if(response['status']==409){
                M.toast({html: 'Conflicting!'});
             }
             else
               M.toast({html: 'Some error occurred'});
           },
         });
    });



    $(document).on("click", "#event_add_id", function(){

      var cnt = -1;

      if($('#event_name_id_'+cnt+'').val() == "" || $('#event_venue_id_'+cnt+'').val() == "" || $("#event_start_time_id_"+cnt).val() == "" || $("#event_end_time_id_"+cnt).val() == "" || $('#event_desc_id_'+cnt+'').val() == ""){
        M.toast({html: 'All inputs are required!'});
        return ;
      }
      if($('#event_repeat_id_'+cnt).prop("checked")){
        if($('#event_repeat_till_time_id_'+cnt).val()==""){
          M.toast({html: 'Repeat til date is required!'});
          return ;
        }
      }

        temp_dict = {
          name:$('#event_name_id_'+cnt+'').val(),
          venue:$('#event_venue_id_'+cnt+'').val(),
          s_hour:get_time_h($("#event_start_time_id_"+cnt).val()),
          s_min:get_time_m($("#event_start_time_id_"+cnt).val()),
          e_hour:get_time_h($("#event_end_time_id_"+cnt).val()),
          e_min:get_time_m($("#event_end_time_id_"+cnt).val()),
          description:$('#event_desc_id_'+cnt+'').val(),
          uuid:"",
          is_deleted:false,
          is_edited:false,
        }
        console.log(temp_dict);
        ds_uuid = "";
        if(response_schedule['schedule'][day]!="")
           ds_uuid =  response_schedule['schedule'][day]['date_uuid'];
        $.ajax({
           url: "/Edit_Schedule_Submit/",
           type: "POST",
           data: {
            'ds_uuid':ds_uuid,
            'ds_year':year.toString(),
            'ds_month':month.toString(),
            'ds_day':day.toString(),
            'event':JSON.stringify(temp_dict),
            'change_all':false,
           },
           success: function(response) {
             console.log(response);

             if(response['status']==200){
                M.toast({html: 'Created successfully'});
             }
             else if(response['status']==409){
                M.toast({html: 'Conflicting!'});
             }
             else
               M.toast({html: 'Some error occurred'});
           },
         });
    });


    $(document).on("click", ".event_delete_class", function(){
      var cnt = $(this).attr("cnt");
      var uuid = response_schedule['schedule'][day]['events'][cnt]['uuid'];
        temp_dict = {
          name:$('#event_name_id_'+cnt+'').val(),
          venue:$('#event_venue_id_'+cnt+'').val(),
          s_hour:get_time_h($("#event_start_time_id_"+cnt).val()),
          s_min:get_time_m($("#event_start_time_id_"+cnt).val()),
          e_hour:get_time_h($("#event_end_time_id_"+cnt).val()),
          e_min:get_time_m($("#event_end_time_id_"+cnt).val()),
          description:$('#event_desc_id_'+cnt+'').val(),
          uuid:uuid,
          is_deleted:true,
          is_edited:false,
        }

        ds_uuid = "";
        if(response_schedule['schedule'][day]!="")
           ds_uuid =  response_schedule['schedule'][day]['date_uuid'];
        $.ajax({
           url: "/Edit_Schedule_Submit/",
           type: "POST",
           data: {
            'ds_uuid':ds_uuid,
            'ds_year':year.toString(),
            'ds_month':month.toString(),
            'ds_day':day.toString(),
            'event':JSON.stringify(temp_dict),
            'change_all':false,
           },
           success: function(response) {
             console.log(response);

             if(response['status']==200){
                M.toast({html: 'Deleted successfully'});
             }
             else if(response['status']==409){
                M.toast({html: 'Conflicting!'});
             }
             else
               M.toast({html: 'Some error occurred'});
           },
         });
    });

    function temp(){
        console.log("OPENED");
    };

</script>

{% endblock %}
