.transparent-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    height:  40px;
    width:  120px;
    line-height:  40px;
    border:  1px solid white;
    display:  inline-block;
    float:  none;
    text-align:  center;

    padding:  0px!important;
    font-size:  14px;
    color:  #fff;
 }

.transparent-button:hover  {
     color:  #fff;
     background:  rgba(255, 255, 255, 0.2);
 }

.input-field input[type=text]:focus + label {
    color: #000;
}


.fancyScroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.fancyScroll::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.fancyScroll::-webkit-scrollbar-thumb
{
	background-color: #003d72;
}





.fancyScrollreverse::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #003d72;
}

.fancyScrollreverse::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.fancyScrollreverse::-webkit-scrollbar-thumb
{
	background-color: #F5F5F5;
}








.tabs .tab a{
      color:white;
      background-color: grey;
  } /*Black color to the text*/

  .tabs .tab a:hover {
      background-color: grey;
      color:#003d72;
  } /*Text color on hover*/

  .tabs .tab a.active {
      background-color: #003d72;
      color:white;
  } /*Background and text color when a tab is active*/

  .tabs .indicator {
      background-color:#003d72;
  } /*Color of underline*/



.zero-margin{
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
}
